.button {
  font-size: 20px;
  padding: 8px;
  font-weight: 500;
  border: none;
  color: #fff;
  background-color: #000;
  border-radius: 8px;
  text-transform: uppercase;
  cursor: pointer;
}

.set-btn {
  background-color: green;
  margin-left: 10px;
}

#timer {
  padding: 20px 30px;
  font-size: 50px;
  height: 70px;
  width: 200px;
}

.container {
  display: flex;
  width: 400px;
  flex-direction: column;
  font-family: sans-serif;
  padding: 32px 16px;
  border-radius: 16px;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  margin-bottom: 20px;
}

.input {
  height: 35px;
}

.input {
  height: 35px;
  display: inline-block;
  padding: 8px;
  font-size: 20px;
  border: none;
  border: 2px solid black;
  border-radius: 8px;
  margin-bottom: 15px;
}

.input:focus {
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  outline: none;
}
