

.card {
	width: 700px;
}

.flag-container{
	width: 400px;
}

.preloader {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.lds-spinner {
  width: 80px;
  height: 80px;
}
.lds-spinner div {
  transform-origin: 40px 40px;
  animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 6px;
  height: 18px;
  border-radius: 20%;
  background: #000;
}
.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* -------- 19-2--------- */

.wrapper {
  margin: 0 auto;
  max-width: 1170px;
  font-family: sans-serif;
}


.pagination {
  margin: 40px auto;
  text-align: center;
}

.button {
  background-color: #fff;
  border: 2px solid black;
  outline: none;
  cursor: pointer;
  font-weight: 500;
}

.button__form {
  padding: 8px 12px;
  border-radius: 6px;
}

.container {
  padding: 32px;
  margin: 40px auto;
  max-width: 500px;
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}

.name-user {
  font-size: 32px;
  font-weight: 700;
  margin: 32px 0;
}

.input {
  border: 1px solid black;
  padding: 8px 12px;
  border-radius: 6px;
}

.title-film {
  font-size: 26px;
  margin: 10px 0;
}
