.form {
	display: flex;
	width: 400px;
	flex-direction: column;
	font-family: sans-serif;
	padding: 32px 16px;
	margin: 0 auto;
	border-radius: 16px;
	box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

.input-container {
	display: flex;
	flex-direction: column;
	margin-bottom: 16px;
	position: relative;
	padding-bottom: 8px;
}

.input-label {
	font-size: 20px;
	font-weight: 500;
	display: inline-block;
	margin-bottom: 8px;
}

.input {
	display: inline-block;
	padding: 8px;
	font-size: 20px;
	border: none;
	border: 2px solid black;
	border-radius: 8px;
}

.input:focus {
	box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
	outline: none;
}

.select {
	width: 100%;
	height: 43px;
	border-radius: 8px;
	
}

.button {
	font-size: 20px;
	padding: 8px;
	font-weight: 500;
	border: none;
	color: #fff;
	background-color: #000;
	border-radius: 8px;
	text-transform: uppercase;
	cursor: pointer;
	margin-top: 32px;
}
